<mat-dialog-content class="mat-typography">
  <form [formGroup]="accountForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Account Name</mat-label>
        <input matInput formControlName="accountName" required type="text">
        <mat-error *ngIf="accountForm.get('accountName')?.hasError('required')">This field is mandatory.</mat-error>
      </mat-form-field>

<!--      <mat-form-field appearance="fill" fxFlex>-->
<!--        <mat-label>Account Number</mat-label>-->
<!--        <input matInput formControlName="accountNumber" required type="text">-->
<!--        <mat-error *ngIf="accountForm.get('accountNumber')?.hasError('required')">This field is mandatory.</mat-error>-->
<!--      </mat-form-field>-->

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Currency</mat-label>
        <input matInput formControlName="currency" required type="text">
        <mat-error *ngIf="accountForm.get('currency')?.hasError('required')">This field is mandatory.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Account Type</mat-label>
        <input matInput formControlName="accountType" required type="text">
        <mat-error *ngIf="accountForm.get('accountType')?.hasError('required')">This field is mandatory.</mat-error>
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" type="submit" (click)="handleAccountSubmit()" [disabled]="!(accountForm.valid && accountForm.dirty)">Save Account</button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
