<body>
<mat-card>
  <b><span>Dashboard</span></b>
</mat-card>
<br>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Test</h2>
        <h1 class="title">testTitle</h1>
        <p><button class="button banking-color" [routerLink]="['/online_banking/']">View </button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Test</h2>
        <h1 class="title">testTitle</h1>
        <p><button class="button banking-color" [routerLink]="['/online_banking']">View </button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Test</h2>
        <h1 class="title">testTitle</h1>
        <p><button class="button banking-color" [routerLink]="['/online_banking']">View</button></p>
      </div>
    </div>
  </div>
</div>
</body>

