<!--<body>-->
<!--<mat-card>-->
<!--  <b><span>Dashboard</span></b>-->
<!--</mat-card>-->
<!--<br>-->
<div class="main-heading-container">
  <h2 class="main-heading">
    <span class="main-heading-primary">Welcome Klajdi</span>
  </h2>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Accounts</h2>
        <h1 class="title">5</h1>
        <p><button class="button" [routerLink]="['/online-banking/account']">View </button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Transactions</h2>
        <h1 class="title">5</h1>
        <p><button class="button" [routerLink]="['/online-banking/transaction']">View </button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Cards</h2>
        <h1 class="title">1</h1>
        <p><button class="button" [routerLink]="['/online-banking/card']">View</button></p>
      </div>
    </div>
  </div>
</div>
<!--</body>-->

