/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//responsibe table
@media(max-width: 800px) {
  .responsive_table {
    overflow-x: auto !important;
  }

  .mat-table {
    min-width:800px;
  }
}

.mat-row {
  height: auto;
}

.banking-color{
  background-color: #0750a1!important;
}

.mat-header-cell,.mat-cell {
  text-align: center !important;
  padding: 0px 8px 0px 15px !important;
}

.black-snackbar {
  background: black !important;
  color: white !important;
}

.green-snackbar {
  background: #32CD32 !important;
  color: white !important;
}

.mat-snack-bar-container {
  margin-right: auto !important;
  margin-left: auto !important;
  width: 40vw !important;
  min-width: 90% !important;
  max-width: 100vw !important;
  margin-top: 70px !important;
  padding: 20px !important;
}

.mat-toolbar.mat-primary {
  background: #0750a1!important;
  color: white;
  display: flex;
  justify-content: space-between;
}
.main-heading-primary{
  color: #fff;
}

.main-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 18vh; /* Set min viewport height */
  position: relative;
  background-color: #307db6ba;
  overflow: hidden;
  margin-bottom: 1rem;
}

.main-heading-container::before,
.main-heading-container::after  {
  content: "";
  position: absolute;
  width: 98%;
  height: 400px;
  background: rgb(48 125 182 / 12%);
  mix-blend-mode: multiply;
  animation: rotateAnimation 16s linear infinite;
  border: 13px double white;
  border-radius: 80px;
}

.main-heading-container::before {
  top: -50%;
  left: -50%;
}

.main-heading-container::after {
  bottom: -50%;
  right: -50%;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
